@import "../bootstrap/scss/bootstrap";
@import "mockup";
@import "hover";
@import "animista";
@import "lity";
@import "animate";
@import "demo";
@import "normalize";
@import "component";
@import "stars";
// @import "default";
// @import "component";


// COLORS
$dark-text: #444649;
$medium-text: #6F6F6F;



// $nav-blue: #03108f;
$light-grey: #F5F5F5;
$medium-grey: #bcbaba;

// $dark-grey: #2b3349;
// $footer: #1e3e63;
$nav-bottom: #04C2C9;

$dark-grey: #175676;
$footer: #1D3D62;
// $nav-bottom: #4BA3C3;


* {
    padding: 0;
    margin: 0;
}

.active {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

body {
    background: black;
    color: white;
    font-size: 18px;
    font-family: 'Archivo', sans-serif;
    user-select: none;
}

html {
    scroll-behavior: smooth;

}

.container-fluid,
.container,
div {
    // @extend %color-border;
    padding: 0;
    overflow: hidden;
}

.hidden {
    opacity: 0;
}

// NAVBAR
.navbar {
    overflow: hidden;
    top: 0;
        padding: 5px 10px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    position: fixed;
    width: 100vw;
    z-index: 99;
    color: white;
    background: $footer;
    border-bottom: 2px solid $nav-bottom;
    @include media-breakpoint-up(lg) { 
      height: 60px;

    }

    a {
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;
        font-weight: 100;
    }

    .navbar-brand {
        font-size: 25px;
        font-weight: bold;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        margin-right: 50px;
    //     @include media-breakpoint-up(lg) { 
    //   margin-right: 20px;

    // }
    }

    .navbar-collapse {}

    .navbar-toggler {
        -webkit-transition: 0.4s;
        margin-right: 10px;
        -o-transition: 0.4s;
        transition: 0.4s;
        width: 66px;
        height: 40px;
    }

    .navbar-toggler-icon {
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        width: 40px;
        height: 30px;
    }

    .nav-link {
        margin: 0px 20px 0px 20px;
    }
}

// INTRO CONTAINER


.intro-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background: #fff;
    // -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
    //             clip-path: polygon(0 0, 50% 100%, 100% 0);
    -webkit-clip-path: ellipse(50% 47% at 50% 100%);
    clip-path: ellipse(50% 47% at 50% 100%);
}

.intro-container {
    background: -webkit-radial-gradient(bottom, ellipse, #1e3e63 0%, #090a0f 100%);
    background: -o-radial-gradient(bottom, ellipse, #1e3e63 0%, #090a0f 100%);
    background: radial-gradient(ellipse at bottom, #1e3e63 0%, #090a0f 100%);
    overflow: hidden;
    position: relative;
   // padding: 140px 0px 300px 0px;
   height: 110vh !important;
   // height: 100vh;

    @include media-breakpoint-up(md) {
        // padding: 100px 0px 300px 0px;
    }

    .right {
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }

    .fa-arrow-down {}

    .down {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }

    .name {
        color: $nav-bottom;
    }

    .intro-div-text {
        font-size: 20px;
        line-height: 30px;

        @include media-breakpoint-up(md) {
            font-size: 40px;
            line-height: 50px;
        }
    }

    .view-my-work {
        padding: 12px 30px;
        display: block;
        border: 2px solid white;
        color: white;
        font-size: 14px;
        text-decoration: none;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        z-index: 98;

        @include media-breakpoint-up(md) {
            font-size: 18px;
            padding: 15px 35px;
        }
    }

    .view-my-work:hover {
        background-color: $nav-bottom;
        border: 2px solid $nav-bottom;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
    }


    .intro-div {
        width: 100vw;
        // height: 150px;
        // height: 100vh !important;

        @include media-breakpoint-up(md) {
            // height: 300px;
        }
    }
}



// ABOUT CONTAINER
.about-container {
    background: #fff;
    color: $footer;

    .about-header-text {
        color: $dark-text;
        letter-spacing: 3px;
        font-size: 30px;
        margin-top: 70px;
        padding: 10px 0px;
        -webkit-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;

        @include media-breakpoint-up(md) {
            font-size: 40px;
            margin-top: 100px;
            padding: 15px 0px;
        }
    }

    .about-underline {
        width: 100px;
        height: 3px;
        background-color: $dark-text;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
    }

    .traits {
        color: $medium-text;
        margin: 50px 20px 0px 20px;

        @include media-breakpoint-up(sm) {
            margin-top: 100px;
        }

        .fast-traits,
        .responsive-traits,
        .intuitive-traits,
        .dynamic-traits {
            opacity: 0;

        }

        .icon-div {
            height: 150px;
            width: 100%;
        }

        .trait-header-div {
            height: auto;
            width: 100%;

            .trait-header-div-text {
                font-size: 20px;

                @include media-breakpoint-up(sm) {
                    font-size: 25px;
                }
            }
        }

        .trait-subheader-div {
            height: auto;
            width: 100%;

            .trait-subheader-div-text {
                font-size: 14px;
                padding: 10px 10px;
                line-height: 20px;

                @include media-breakpoint-up(md) {
                    font-size: 18px;
                    line-height: 30px;
                }
            }
        }

        .trait {
            .traits-icon {
                width: 100px;
                max-height: 100px;
                background-color: $nav-bottom;
                border-radius: 50%;
                padding: 15px;

                @include media-breakpoint-up(sm) {
                    width: 130px;
                    max-height: 130px;
                }
            }
        }
    }

    .kev-pic {
        width: 50%;
        border-radius: 100%;
    }

    .passion-text {
        max-width: 70%;
        margin-top: 20px;

        @include media-breakpoint-up(sm) {
            max-width: 50%;
        }
    }

    .pic {
        height: auto;
        margin: 30px 0 30px 0;
    }

    .strengths {
        height: auto;
        margin: 30px 0 30px 0;

        .strength {
            margin: 5px 40px 5px 40px;
            padding: 0px;
            overflow: visible;
            position: relative;
            z-index: 8;

            .strength-text {
                background-color: $nav-bottom;
                width: 35%;
                height: 100%;
                padding: 5px 0 5px 0;
                z-index: 11;
                color: white;

                @include media-breakpoint-up(sm) {
                    width: 25%;
                }
            }

            .animated-bar {
                background-color: $footer;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                z-index: -1;
            }

            .animated-bar-html {
                width: 80%;
            }

            .animated-bar-css {
                width: 75%;
            }

            .animated-bar-javascript {
                width: 70%;
            }

            .animated-bar-angular {
                width: 50%;
            }

            .animated-bar-node {
                width: 50%;
            }

            .animated-bar-photoshop {
                width: 90%;
            }

            .background {
                background-color: $light-grey;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -2;
            }

            .percent {
                right: 10px;
                position: absolute;
                top: 5px;
                color: $medium-grey;
            }
        }
    }
}

// PROJECTS CONTAINER
.projects-container {
    background: $light-grey;
    color: $footer;

    .projects-header-text {
        color: $dark-text;
        font-size: 30px;
        letter-spacing: 3px;
        margin-top: 70px;
        padding: 10px 0px;
        -webkit-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;

        @include media-breakpoint-up(md) {
            font-size: 40px;
            margin-top: 100px;
            padding: 15px 0px;
        }
    }

    .projects-underline {
        width: 100px;
        height: 3px;
        background-color: $dark-text;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
    }

    .project-wrapper {
        margin: 70px 0px 100px 0px;
    }

    .technologies {
        height: 50px;
        margin: 80px 40px 20px 40px;

        .active {
            background-color: $nav-bottom;
        }
    }

    .technologies-ul {
        margin: 0px 5% 0px 5%;

        @include media-breakpoint-up(md) {
            margin: 0px 20% 0px 20%;
        }
    }

    .technologies-li {
        display: inline;
        padding: 7px 15px 7px 15px;
        opacity: 0;

    }

    .technologies-li:hover {
        cursor: pointer;

    }

    .project-img {
        z-index: 1;
        position: relative;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        margin: 10px 0px 10px 0px;
        width: 100%;
        height: auto;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .project-title {
        z-index: 10;
        position: absolute;
        font-size: 0.9em;
        top: 20%;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        line-height: 20px;

        @include media-breakpoint-up(sm) {
            font-size: 1.2em;
            line-height: 25px;
        }
    }

    .project-title-active {
        opacity: 1;
        -webkit-user-select: auto;
        -moz-user-select: auto;
        -ms-user-select: auto;
        user-select: auto;
        -webkit--webkit-transition: .5s;
        -o-transition: .5s;
        -webkit-transition: .5s;
        transition: .5s;
    }

    .project-title-deactive {
        opacity: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        margin-top: -40px;
    }

    .red-text {
        color: $nav-bottom;
        font-size: .9em;
    }

    .learn-more-button {
        z-index: 10;
        position: absolute;
        padding: 5px;
        border: 2px solid $nav-bottom;
        top: 60%;
        width: 200px;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        text-decoration: none;
        color: $nav-bottom;
    }

    .learn-more-button:hover {
        background-color: $nav-bottom;
        color: white;
    }

    .learn-more-active {
        opacity: 1;
        -webkit-user-select: auto;
        -moz-user-select: auto;
        -ms-user-select: auto;
        user-select: auto;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
    }

    .learn-more-deactive {
        opacity: 0;
        -webkit--webkit-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;

        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        margin-top: 40px;
    }

    .projects {
        margin: 0px 5% 0px 5%;

        .project {
            height: auto;
            position: relative;

        }
    }
}

// INTERESTS CONTAINER
.interests-container {
    background: #fff;
    color: $footer;

    .interests-header {
        margin-top: 70px;
        color: $dark-text;
        letter-spacing: 3px;
        font-size: 30px;
        padding: 10px 0px;
        -webkit-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;

        @include media-breakpoint-up(md) {
            font-size: 40px;
            margin-top: 100px;
            padding: 15px 0px;
        }
    }

    .interests-underline {
        width: 100px;
        height: 3px;
        background-color: $dark-text;
        position: absolute;
        margin: 0px auto auto auto;
        left: 0;
        right: 0;
    }

    .interests {
        margin: 70px 5% 0px 5%;
        padding-bottom: 100px;

        .interest {
            height: auto;
            position: relative;
        }

        .interests-img {
            z-index: 1;
            position: relative;
            -webkit-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;
            margin: 10px 0px 10px 0px;
            width: 100%;
            height: auto;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .learn-more-button {
            z-index: 10;
            position: absolute;
            padding: 5px;
            border: 2px solid $nav-bottom;
            top: 50%;
            width: 200px;
            right: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            text-decoration: none;
            color: $nav-bottom;
        }

        .learn-more-button:hover {
            background-color: $nav-bottom;
            color: white;
        }

        .learn-more-active {
            opacity: 1;
            -webkit-user-select: auto;
            -moz-user-select: auto;
            -ms-user-select: auto;
            user-select: auto;
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
        }

        .learn-more-deactive {
            opacity: 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
            margin-top: 40px;
        }

        .interests-title {
            z-index: 10;
            position: absolute;
            top: 30%;
            font-size: 1.2em;
            right: 0;
            left: 0;
            color: $dark-grey;
            margin-left: auto;
            margin-right: auto;
        }

        .interests-title-active {
            opacity: 1;
            -webkit-user-select: auto;
            -moz-user-select: auto;
            -ms-user-select: auto;
            user-select: auto;
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
        }

        .interests-title-deactive {
            opacity: 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
            margin-top: -40px;
        }
    }
}

// CONTACT CONTAINER
.contact-container {
    background: $dark-grey;
    color: white;
    position: relative;
    height: 550px;
    min-height: 100vh;



    .icon-ul {
        margin: 0;
        padding: 0;
    }

    .icon-ul .icon-li {
        list-style: none;
        float: left;
        margin: 20px 10px 60px 10px;
        width: 85px;
        height: 85px;
        line-height: 85px;
        text-align: center;
        background-color: #fff;
        border-radius: 50%;
        font-size: 50px;
        position: relative;
        -webkit-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        color: #262626;
        z-index: 1;
        color: $dark-grey;
    }

    .icon-ul .icon-li:before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: $dark-grey;
        border-radius: 50%;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        -webkit-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        z-index: -1;

    }

    .icon-ul .icon-li:hover:before {
        -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
        transform: scale(1.02);

    }

    .icon-ul .icon-li:hover {
        color: #fff;
    }

    @include media-breakpoint-up(sm) {
        .icon-ul .icon-li {
            margin: 20px 40px 90px 40px;
            width: 85px;
            height: 85px;
            line-height: 85px;
        }
    }

    .contact-header {
        margin-top: 70px;
        letter-spacing: 3px;
        color: $dark-text;
        font-size: 30px;
        padding: 10px 0px;
        color: #fff;
        -webkit-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;

        @include media-breakpoint-up(md) {
            font-size: 40px;
            margin-top: 100px;
            padding: 15px 0px;
        }
    }


    .contact-underline {
        width: 100px;
        height: 3px;
        background-color: #fff;
        position: absolute;
        margin: 0px auto auto auto;
        left: 0;
        right: 0;
    }

    .phone {
        font-size: 1.5em;
        margin: 50px 0px 20px 0px;
    }

    .fa-phone-square {
        margin: 0px 10px 0px 10px;
    }

    .resume-a-tag {
        text-decoration: none;
    }

    .resume-link {
        // font-size: 1.5em;
        // padding: 10px;
        // border-radius: 20px;
        // cursor: pointer;
        // color: #fff;
        // width: 200px;
        // position: relative;
        // right: 0;
        // left: 0;
        // margin: 20px auto;
        // background-color: $nav-bottom;
        // -webkit-transition: 0.4s;
        // -o-transition: 0.4s;
        // transition: 0.4s;
        // -webkit-transform: scale(1);
        // -ms-transform: scale(1);
        // transform: scale(1);

        position: relative;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
  //       margin-left: auto; 
  // margin-right: auto;   
  // right: 0;
  //   left: 0;

        border: 1px solid $dark-grey;
        background: none;
        color: $light-grey;
        width: 240px;
        height: 80px;
        // border: 1px  solid #338033;
        font-size: 30px;
        border-radius: 14px;
        transition: .6s;
        overflow: hidden;
    }

    .resume-link:focus{
        outline: none;
    }

    .resume-link:before{
        content: '';
        display: block;
        position: absolute;
        background: rgba(255,255,255,0.5);
        width: 60px;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0.5;
        filter: blur(30px);
        transform: translateX(-130px) skew(-15deg);
    }

    .resume-link:after{
        content: '';
        display: block;
        position: absolute;
        background: rgba(255,255,255,0.2);
        width: 30px;
        height: 100%;
        left: 30px;
        top: 0;
        opacity: 0;
        filter: blur(30px);
        transform: translate(-100px) scaleX(-15);
    }

    .resume-link:hover {
        // -webkit-transition: 0.4s;
        // -o-transition: 0.4s;
        // transition: 0.4s;
        // -webkit-transform: scale(1.1);
        // -ms-transform: scale(1.1);
        // transform: scale(1.1);
        // color: $nav-bottom;
        // background-color: #fff;

        // background: #144d6b;
        background: #175676;
        cursor: pointer;

    }
    .resume-link:hover:before{
        transform: translateX(300px) skew(-15deg);
        opacity: .6;
        transition: .7s;
    }

    .resume-link:hover:after{
        transform: translateX(300px) skew(-15deg);
        opacity: 1;
        transition: .7s;
    }

    .fa-file {
        margin: 0px 10px 0px 10px;
    }

    .icons-div {
        width: 100vw;
        padding: 20px 0px 30px 0px;
        margin: 10px auto 10px auto;

        .icon-wrapper {
            height: auto;
            padding: 10px;

            @include media-breakpoint-up(sm) {
                padding: 50px;
            }

            .fa-icon {
                font-size: 4em;
                color: #fff;
                -webkit-transition: 0.4s;
                -o-transition: 0.4s;
                transition: 0.4s;
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);

            }

            .fa-icon:hover {
                font-size: 4em;
                color: $nav-bottom;
                cursor: pointer;
                -webkit-transition: 0.4s;
                -o-transition: 0.4s;
                transition: 0.4s;
                -webkit-transform: scale(1.3);
                -ms-transform: scale(1.3);
                transform: scale(1.3);
            }
        }
    }

    .underline {
        width: 70%;
        border: 1px solid $nav-bottom;
        position: absolute;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
    }
}

.contact-container::before {
    content: "";
    position: absolute;
    top: -1px;
    width: 100%;
    height: 45px;
    background: #fff;
    // z-index: 100;
    -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
                clip-path: polygon(0 0, 50% 100%, 100% 0);
}

// FOOTER
footer {
    color: white;
    height: 90px;
    background: $footer;

    .copywrite{
        margin: 0px 0px 30px 0px;
    }
}


//LIGHTBOX
.lightbox {
    width: 700px;
    max-width: 100vw;
    height: auto;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    position: relative;
    background-color: #fff;

    .carousel {
        background-color: black;
    }

    .sub-content {
        margin: 20px;

        .sub-content-header {
            font-size: 1em;
            color: $dark-grey;

            @include media-breakpoint-up(sm) {
                font-size: 2em;
            }
        }

        .sub-content-sub-header {
            color: $medium-grey;
            font-size: 0.8em;

            @include media-breakpoint-up(sm) {
                font-size: 1.2em;
            }
        }

        .sub-content-about {
            color: $medium-grey;
            font-size: 0.8em;
            line-height: 25px;
            margin: 20px 0px;

            @include media-breakpoint-up(sm) {
                font-size: 0.8em;
            }
        }

        .sub-content-ul {}

        .line {
            width: 100%;
            height: 1px;
            border: 1px solid $light-grey;
        }

        .close-lightbox {
            z-index: 1000;
            opacity: 0.5;
            width: 30px;
            height: 30px;
            display: absolute;
            right: 20px;
            cursor: pointer;
        }

        .project-link {
            text-decoration: none;
            color: white;
            padding: 5px 5px;
            background-color: $nav-bottom;
            border: 2px solid $nav-bottom;
            -webkit-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;

            @include media-breakpoint-up(sm) {
                padding: 5px 20px;
            }
        }

        .project-link:hover {
            color: $nav-bottom;
            background-color: white;
            -webkit-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;
        }
    }

    .carousel-item {
        border-bottom: 4px solid black;
        background-color: black;
    }

    .carousel-control,
    .carousel-control-prev,
    .carousel-control-prev {
        width: 75px;
        height: 75px;
        display: absolute;
        bottom: 0;
        background-color: rgba(228, 233, 237, 0.4)
    }

    .carousel-control-icon {
        width: 30px;
        height: 30px;
    }

    .carousel-item-art {
        max-height: 500px;
        height: auto;
        max-width: 100vw;
        background-color: black;
    }

    .art-pic {
        max-height: 500px;
    }
    
}