@import "../bootstrap/scss/bootstrap";
@import "mockup";
@import "hover";
@import "animista";
// @import "stars";


// COLORS
$dark-text: #444649;
$medium-text: #6F6F6F;


$nav-blue: #03108f;
$light-grey: #F5F5F5;
$medium-grey: #bcbaba;
// $dark-grey: #252934;
$dark-grey: #2b3349;
$footer: #1e3e63;
// $footer: #1B242F;
$nav-bottom: #04C2C9;



// $nav-blue: #03108f;
// $light-grey: #F5F5F5;
// $medium-grey: #bcbaba;
// $dark-grey: #1F487E;
// $footer: #1D3461;
// $nav-bottom: #247BA0;

// $nav-blue: #03108f;
// $light-grey: #F5F5F5;
// $medium-grey: #bcbaba;
// $dark-grey: #33287a;
// $footer: #6B50A9;
// $nav-bottom: #b569db;


// COOLER SCHEMES:
// FB3640
// 605F5E
// 1D3461
// 1F487E
// 247BA0

// A682FF
// 715AFF
// 5887FF
// 55C1FF
// 1E2019



* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;

}

// .back{
// 	z-index: 1;
// 	user-select: none;
// }

body {
    background: black;
    color: white;
    font-size: 18px;
    font-family: 'Archivo', sans-serif;

}

.container-fluid,
.container,
div {
    // @extend %color-border;
    padding: 0;
    overflow: hidden;
}

.hidden{
	opacity: 0;
}






.navbar {
    overflow: hidden;
    top: 0;
    // background-color: #f1f1f1;
    padding: 20px 10px;
    /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s;
    /* Adds a transition effect when the padding is decreased */
    // position: fixed; /* Sticky/fixed navbar */
    // width: 100%;
    // top: 0;  At the top 
    z-index: 99;
    color: white;
    background: $footer;
    border-bottom: 2px solid $nav-bottom;

    // position: relative;
    a {
        // float: left;
        //  color: black;
        //  text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;
        font-weight: 100;
        // border-bottom: 3px solid transparent;
        // transition: 0.4s;
    }

    // .active{
    // 	border-bottom: 3px solid $nav-bottom;
    // 	transition: 0.4s;
    // }
    .navbar-brand {
        font-size: 35px;
        font-weight: bold;
        transition: 0.4s;
        margin-right: 50px;
    }

    .navbar-collapse {
        // position: absolute;
        // right: 50px;
        // float: right;
    }

    .navbar-toggler {
        transition: 0.4s;
        width: 70px;
        height: 55px;
    }

    .navbar-toggler-icon {
        transition: 0.4s;
        width: 40px;
        height: 40px;
    }

    .nav-link {
        margin: 0px 20px 0px 20px;
    }
}

// INTRO CONTAINER
.intro-container {
    // background: $dark-grey;
    background: radial-gradient(ellipse at bottom, #1e3e63 0%, #090a0f 100%);
    overflow: hidden;
    // background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    // background-size: 400% 400%;
    // -webkit-animation: Gradient 15s ease infinite;
    // -moz-animation: Gradient 15s ease infinite;
    // animation: Gradient 15s ease infinite;
    // height: 700px;
    position: relative;
    padding: 140px 0px 300px 0px;
	    @include media-breakpoint-up(md) {
	        padding: 100px 0px 300px 0px;
	    }
    .right{
    		 -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari 3-8 */
    transform: rotate(-90deg);
    // transform: translate(5px, 0px);
    transition: 0.4s;
    }
    .fa-arrow-down{
    
    }
    .down{
    	 -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari 3-8 */
    transform: rotate(0deg);
    // transform: translate(5px, 10px);
    transition: 0.4s;
    }

    .name {
        color: $nav-bottom;
    }
    .intro-div-text{
    	font-size: 20px;
    	line-height: 30px;

    	@include media-breakpoint-up(md) {
        	font-size: 40px;
        	line-height: 50px;
    	}
    }

    .view-my-work {
        padding: 12px 30px;
        display: block;
        border: 2px solid white;
        color: white;
        font-size: 14px;
        text-decoration: none;
        transition: 0.4s;
        // margin-top: -30px;
        z-index: 98;
        @include media-breakpoint-up(md) {
        	font-size: 18px;
        	padding: 15px 35px;
    	}
    }

    .view-my-work:hover {
        background-color: $nav-bottom;
        border: 2px solid $nav-bottom;
        transition: 0.4s;

    }

    .intro-div {
        width: 100vw;
        height: 150px;
        // margin-top: -150px;
        // @extend %color-border;
        @include media-breakpoint-up(md) {
        	height: 300px;
    	}
    }
}



// ABOUT CONTAINER
.about-container {
    background: #fff;
    // height: 700px;
    color: $footer;

    // .about-header {
    //     height: 200px;
    //     @include media-breakpoint-up(md) {
    //     	height: 300px;
    // 	}
    //     // width: 100vw;

    //     // @extend %color-border;
        
    // }
    .about-header-text{
        	color: $dark-text;
        	font-size: 30px;
        	margin-top: 70px;
        	padding: 10px 0px;
        	opacity: 0;
        	// transform: translateX(-50px);
        	transition: all 0.4s ease-out;
        	@include media-breakpoint-up(md) {
	        	font-size: 40px;
	        	margin-top: 100px;
	        	padding: 15px 0px;
	    	}
        }
 //    .about-header-text-animate{
	// 	opacity: 1 !important;
	// 	transform: translateX(0) !important;
	// 	transition: all 0.4s ease-out;
	// }
        .about-underline{
        	width: 100px;

        	height: 3px;
        	background-color: $dark-text;
        	position: absolute;
        	margin: auto;
   			left: 0;
    		right: 0;
    		// opacity: 0;
        }

    .traits {
    	
    	.fast-traits, .responsive-traits, .intuitive-traits, .dynamic-traits{
    		opacity: 0;
    	}
        // @extend %color-border;
        color: $medium-text;
        margin: 100px 20px 0px 20px;

        .icon-div{
        	height: 150px;
        	width: 100%;
        }
        .trait-header-div{
        	height: auto;
        	width: 100%;
        	.trait-header-div-text{
        		font-size: 25px;

        	}
        }
        .trait-subheader-div{
        	height: auto;
        	width: 100%;
        	.trait-subheader-div-text{
        		font-size: 14px;
        		padding: 10px 10px;
        		line-height: 20px;
        		@include media-breakpoint-up(md) {
		        	font-size: 18px;
		        	line-height: 30px;
		    	}
        	}
        }
        .trait {
            // height: 300px;
            // @extend %color-border;

            .traits-icon{
            	width: 80%;
            	max-height: 80%;
            	background-color: $nav-bottom;
            	border-radius: 50px;
            	padding: 20px;
            }
            .responsive-icon{
        		// width: 10vw;
        		// padding: 10px;
        		// z-index: 98;
        	}
        }
    }
    .kev-pic{
    	width: 50%;
    	border-radius: 100%;
    }
    .passion-text{
    	max-width: 50%;
    	margin-top: 20px;
    	// line-height: 1000px;
    }
    .pic-strengths {

        // @extend %color-border;	
    }

    .pic {
        // @extend %color-border;	
        height: auto;
        margin: 30px 0 30px 0;
    }

    .strengths {
        // @extend %color-border;
        height: auto;
        // width: 80%;
        margin: 30px 0 30px 0;
      	.strength{
      		// width: 80%;
      		// background-color: $light-grey;

      		margin: 5px 40px 5px 40px;
      		padding: 0px;
      		overflow: visible;
      		position: relative;
      		z-index: 8;
      		.strength-text{
      			background-color: $nav-bottom;
      			width: 25%;
      			height: 100%;
      			padding: 5px 0 5px 0;
      			z-index: 11;
      			color: white;
      		}
      		.animated-bar{
      			background-color: $footer;
      			position: absolute;
      			left: 0;
      			top: 0;
      			// width: 80%;
      			height: 100%;
      			z-index: -1;
      		}
      		.animated-bar-html{
      			width: 80%;
      		}
      		.animated-bar-css{
      			width: 75%;
      		}
      		.animated-bar-javascript{
      			width: 70%;
      		}
      		.animated-bar-angular{
      			width: 50%;
      		}
      		.animated-bar-node{
      			width: 50%;
      		}
      		.animated-bar-photoshop{
      			width: 90%;
      		}
      		.background{
      			background-color: $light-grey;
      			// width: 
      			width: 100%;
      			height: 100%;
      			position: absolute;
      			left: 0;
      			top: 0;
      			z-index: -2;
      		}
      		.percent{
      			right: 10px;
      			position: absolute;
      			top: 5px;
      			color: $medium-grey;
      		}
      	}
    }
}

// PROJECTS CONTAINER
.projects-container {
    // height: 700px;
    background: $light-grey;
    color: $footer;

    // .projects-header {
    //     // @extend %color-border;
    //     height: 300px;
    // }

        .projects-header-text{
        	color: $dark-text;
        	font-size: 30px;
        	margin-top: 70px;
        	padding: 10px 0px;
        	// opacity: 0;
        	// transform: translateX(-50px);
        	transition: all 0.4s ease-out;
        	@include media-breakpoint-up(md) {
	        	font-size: 40px;
	        	margin-top: 100px;
	        	padding: 15px 0px;
	    	}
        }
 //    .about-header-text-animate{
	// 	opacity: 1 !important;
	// 	transform: translateX(0) !important;
	// 	transition: all 0.4s ease-out;
	// }
        .projects-underline{
        	width: 100px;

        	height: 3px;
        	background-color: $dark-text;
        	position: absolute;
        	margin: auto;
   			left: 0;
    		right: 0;
    		// opacity: 0;
        }

    .technologies {
        height: 50px;
        margin: 80px 40px 20px 40px;

        .active{
        	background-color: $nav-bottom;
        }
    }
    .technologies-ul{
    	margin: 0px 5% 0px 5%;
    	@include media-breakpoint-up(md) {
	        	margin: 0px 20% 0px 20%;
	    	}
    }
    .technologies-li{
    	display: inline;
    	// width: 60%;
    	padding: 7px 15px 7px 15px;
    	opacity: 0;

    }
    .technologies-li:hover{
    	cursor: pointer;

    }
    .project-img{
    	// width: 100%;
    	// height: 100%;
    	z-index: 1;
    	position: relative;
    	// opacity: 1;
    	transition: 0.4s;
    	margin: 10px 0px 10px 0px;
    	width: 100%;
		height: auto;
    	// cursor: pointer;
    	user-select: none;
    	
    }
    .project-img:hover{
    	// opacity: 0;
    }
    .project-title{
    	z-index: 10;
    	position: absolute;
		top: 20%;
		right: 0;
		left: 0;
	  	margin-left: auto; 
	  	margin-right: auto; 	
    }
    .project-title-active{
    	opacity: 1;
    	user-select: auto;
    	transition: .5s;
    }
    .project-title-deactive{
    	opacity: 0;
    	user-select: none;
    	transition: .5s;
    	margin-top: -40px;
    }
    .red-text{
    	color: $nav-bottom;
    }
    .learn-more-button{
    	z-index: 10;
    	position: absolute;
    	padding: 5px;
    	border: 2px solid $nav-bottom;
    	top: 60%;
    	width: 200px;
    	right: 0;
		left: 0;
  		margin-left: auto; 
  		margin-right: auto; 
  		text-decoration: none;
  		color: $nav-bottom;
    }
    .learn-more-button:hover{
    	background-color: $nav-bottom;
    	color: white;
    }
    .learn-more-active{
    	opacity: 1;
    	user-select: auto;
    	transition: .5s;
    }
    .learn-more-deactive{
    	opacity: 0;
    	user-select: none;
    	transition: .5s;
    	margin-top: 40px;
    }

    .projects {
        // @extend %color-border;
        margin: 70px 5% 0px 5%;
        padding-bottom: 100px;

  //       .project1{
  //       	background: url(../assets/Brooks.png) no-repeat center center fixed; 
  // -webkit-object-size: cover;
  // -moz-object-size: cover;
  // -o-object-size: cover;
  // object-size: cover;
  //       }
        .project {
            // height: 300px;
            height: auto;
            position: relative;
            // opacity: 0;
            // @extend %color-border;

        }
    }
}

// INTERESTS CONTAINER
.interests-container {
    // height: 700px;
    background: #fff;
    color: $footer;

    .interests-header {
        // @extend %color-border;
        height: 300px;
        color: $dark-text;
        	font-size: 30px;
        	margin-top: 70px;
        	padding: 10px 0px;
        	// width: 200px;
        	// opacity: 0;
        	// transform: translateX(-50px);
        	transition: all 0.4s ease-out;
        	@include media-breakpoint-up(md) {
	        	font-size: 40px;
	        	margin-top: 100px;
	        	padding: 15px 0px;
	    	}
    }
    .interests-underline{
        	width: 100px;
        	height: 3px;
        	background-color: $dark-text;
        	position: absolute;
        	margin: -100px auto auto auto;
   			left: 0;
    		right: 0;
        }

    .interests {
        // @extend %color-border;
        margin: 0px 20px 0px 20px;
        padding-bottom: 100px;

        .interest {
            height: 300px;
            // @extend %color-border;
        }

    }
}

// // EDUCATION CONTAINER
// .education-container{
// 	height: 700px;
// 	background: $medium-grey;
// }

// CONTACT CONTAINER
.contact-container {
    // height: 700px;
    background: $dark-grey;
    color: white;
    position: relative;

    .contact-header {
        // @extend %color-border;
        height: 300px;
    }

    .icons-div {
        width: 100vw;
        // height: 200px;
        padding: 50px 0px 50px 0px;
        margin: 0;

        .icon-wrapper {
            height: auto;

        }
    }

    .underline {
        // margin: 20px 0px 20px 0px;
        width: 70%;
        border: 1px solid $nav-bottom;
        position: absolute;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
    }
}

// FOOTER
footer {
    // @extend %color-border;
    color: white;
    height: 200px;
    background: $footer;
}


//LIGHTBOX
.lightbox{
	// border: 2px solid $nav-bottom;
	width: 700px;
	max-width: 100vw;
	height: auto;
	// max-height: 100vh;
	overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;

	// top: 0;
	position: relative;
	background-color: #fff;
		.sub-content{
			margin: 20px;
			.sub-content-header{
				color: $dark-grey;
			}
			.sub-content-sub-header{
				color: $medium-grey;
			}
			.sub-content-about{
				color: $medium-grey;
				font-size: 0.8em;
				line-height: 25px;
				margin: 20px 0px;
			}
			.sub-content-ul{

			}
			.line{
				width: 100%;
				height: 1px;
				border: 1px solid $light-grey;
				// color: $dark-grey;
			}
			.close-lightbox{
				z-index: 1000;
				
				opacity: 0.5;
				width: 30px;
				height: 30px;
				display: absolute;
				right: 20px;
				// bottom: 20px;
				// padding: 20px;
				// margin: 10px;
				cursor: pointer;
		}
		.project-link{
			text-decoration: none;
			color: white;
			padding: 5px 20px;
			background-color: $nav-bottom;
			border: 2px solid $nav-bottom;
			transition: 0.4s;
		}
		.project-link:hover{
			color: $nav-bottom;
			background-color: white;
			transition: 0.4s;
		}
	}	
	.carousel-item{
		border-bottom: 4px solid black;
	}
	.carousel-control, .carousel-control-prev, .carousel-control-prev{
		width: 75px;
		height: 75px;
		// margin-top: 316px;
		display: absolute;
		bottom: 0;

		// border: 2px solid red;
		background-color: rgba(228, 233, 237, 0.3)
	}
	.carousel-control-icon{
		width: 30px;
		height: 30px;
	}
}



